<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task list</title>

    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    
    <div id="app">
        <quiz></quiz>
    </div>
 
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>

    <script>

        let Results = {
            props: ['answeredQuestions'],
            template: `
                <div>
                    <h2>Results</h2>
                    <p>You got {{ correctAnswerCount() }} out of {{ answeredQuestions.length }} questions correct</p>

                    <div class="results__item" v-for="answered in answeredQuestions">
                        <h3>{{ answered.question.title }}</h3>
                        <p>
                            Your answer: <span :class="{ 
                                'danger': !answered.answer.correct, 
                                'success': answered.answer.correct }"
                            >{{ answered.answer.title }}</span>
                        </P>

                        <p v-if="!answered.answer.correct">
                            Correct answer: {{ getCorrectAnswerFromQuestion(answered.question).title }}
                        </P>
                    </div>
                </div>
            `,
            methods: {
                getCorrectAnswerFromQuestion (question) {
                    return question.answers.find((answer) => {
                        return answer.correct === true
                    })
                },
                correctAnswerCount () {
                    return this.answeredQuestions.filter((answered) => {
                        return answered.answer.correct === true
                    }).length
                }
            }
        }

        let Answer = {
            props: ['answer'],
            template: `
                <div class="answer">
                    <label :for="'answer-' + answer.id">
                        <input type="radio" name="answer" :id="answer" @click="choose(answer)" > {{ answer.title }}
                    </label>
                </div>
            `,
            methods: {
                choose (answer) {
                    this.$emit('answer:chosen', answer)
                }
            }
        }

        let Question = {

            components: {
                'answer': Answer
            },
            props: ['question'],
            data () {
                return {
                    showNext: false,
                    answerChosen: null
                }
            },
            template: `
                <div class="question">
                    <h3>{{ question.title }}</h3>

                    <answer 
                        v-for="answer in question.answers" 
                        :answer="answer" 
                        :key="answer.id"
                        v-on:answer:chosen="answerClicked"
                    ></answer>

                    <button v-if="showNext" @click.prevent="nextQuestion">Next</button>
                </div>
            `,
            methods: {
                answerClicked (answer) {
                    this.showNext = true
                    this.answerChosen = answer
                },
                nextQuestion () {
                    this.$emit('question:answered', this.question, this.answerChosen)
                }
            }
        }
        
        let Quiz = {
            components: {
                'question': Question,
                'results': Results
            },
            data () {
                return {
                    questions : [],
                    currentQuestion: null,
                    answeredQuestions: [],
                    currentQuestionNumber: 1,
                    showResults: false
                }
            },
            template: `
                <div class="quiz">

                    <template v-if="showResults">
                        <results :answered-questions="answeredQuestions"></results>
                    </template>

                    <template v-else>
                        <h4>Question {{ currentQuestionNumber }} of {{ questions.length }}</h4>
                        <question 
                            v-if="currentQuestion" 
                            :question="currentQuestion" 
                            v-on:question:answered="answered" 
                        ></question>
                    </template>
                </div>
            `,
            methods: {
                answered (question, answer) {
                    this.storeAnswer (question, answer)
                    this.setNextQuestion()
                },
                storeAnswer (question, answer) {
                    this.answeredQuestions.push({
                        question: question, 
                        answer: answer
                    })
                },
                setNextQuestion () {

                    if (this.allQuestionsAnswered()) {
                        this.showResults = true
                        return
                    }

                    this.currentQuestionNumber++
                    this.currentQuestion = this.questions[this.currentQuestionNumber - 1]
                },
                allQuestionsAnswered () {
                    return this.currentQuestionNumber === this.questions.length
                }
            },
            mounted () {
                axios.get('questions.json').then((response) => {
                    this.questions = response.data
                    this.currentQuestion = this.questions[0]
                })
            }
        }

        let app = new Vue ({
            el: '#app',
            components: {
                'quiz': Quiz
            }
        })
    </script>
</body>
</html>